<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre: </label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Apellido Paterno: </label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Apellido Materno: </label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Tipo de Mascota: </label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Descripcion: </label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="perro o gato" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Telefono: </label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Distrito: </label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Distrito A,B,C" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Direccion </label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
   
  <button type="submit" class="btn btn-primary">Registrar</button>

</form>